# 서울 생활인구 (OPEN API 사용)

## 서울시 열린데이터 광장에서 OpenAPI 활용하여 원하는 데이터 셋 호출
1. 서울생활인구 관내이동
    - url: https://data.seoul.go.kr/dataList/OA-15377/F/1/datasetView.do#
    - 서울 관내 지역에서 거주하며, 통근/통학, 쇼핑. 관광 등 특정시점에 서울의 특정 지역에 존재하는 내국인과 장기 체류 외국인 정보를 제공합니다.
    - ※ 개인정보 비 식별화를 위하여 ‘3명’ 이하인 경우 “ * ” 처리
    - ※ Sheet와 OpenAPI는 5일전 당일자료만 제공합니다.
2. 서울생활인구 대도시권 내외국인
    - url: https://data.seoul.go.kr/dataList/OA-14981/S/1/datasetView.do#
    - 서울 外 지역에서 거주하며, 통근/통학, 쇼핑. 관광 등 특정시점에 서울의 특정 지역에 존재하는 내국인과 장기 체류 외국인
    - ※ 개인정보 비 식별화를 위하여 ‘3명’ 이하인 경우 “ * ” 처리
    - ※ Sheet와 OpenAPI는 5일전 당일자료만 제공합니다.

In [1]:
import requests
import json
import pandas as pd

## 서울생활인구

- endpoint 확인

- 오픈API 서비스되는 서버의 ip 혹은 domain 주소

- api활용 문서 확인해보면 endpoint 확인할 수 있는 코드 들어있으므로 복사해서 사용한다.

- datatype: xml 혹은 json 설정하여 받아오는데 최근에는 json 형식 많이 사용

- serviceKey에 위에 발급받은 key값 할당해준다.


- url 가져올때 샘플 url에 설명있음 -> 가져오고 싶은 범위 설정 가능

## 서울생활인구 대도시권 내외국인

In [8]:
# 서울 열린 데이터 광장 인증키
# KEY: OpenAPI 발급된 키
# TYPE: xml , xls , json 선택가능

my_key = '49524379787379733634554a415448'
endpoint_대도시권_내외국인=f"http://openapi.seoul.go.kr:8088/{my_key}/json/ppsOrgnCt/1/5/"

In [10]:
#api 호출
resp=requests.get(endpoint_대도시권_내외국인)

In [11]:
data=resp.json()
data

{'ppsOrgnCt': {'list_total_count': 592637,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'STDR_DE_ID': '20220928',
    'TMZON_PD_SE': '00',
    'ADSTRD_CODE_SE': '11110515',
    'LVPOP_SN': '1',
    'MLNG_RESDNC_CODE_SE': '44000',
    'TOT_LVPOP_CO': '37.449100000000001',
    'MALE_F10T14_LVPOP_CO': '*',
    'MALE_F15T19_LVPOP_CO': '*',
    'MALE_F20T24_LVPOP_CO': '7.238',
    'MALE_F25T29_LVPOP_CO': '*',
    'MALE_F30T34_LVPOP_CO': '*',
    'MALE_F35T39_LVPOP_CO': '*',
    'MALE_F40T44_LVPOP_CO': '*',
    'MALE_F45T49_LVPOP_CO': '*',
    'MALE_F50T54_LVPOP_CO': '*',
    'MALE_F55T59_LVPOP_CO': '*',
    'MALE_F60T64_LVPOP_CO': '*',
    'MALE_F65T69_LVPOP_CO': '*',
    'MALE_F70T74_LVPOP_CO': '*',
    'MALE_F75T79_LVPOP_CO': '*',
    'FEMALE_F10T14_LVPOP_CO': '*',
    'FEMALE_F15T19_LVPOP_CO': '5.2742',
    'FEMALE_F20T24_LVPOP_CO': '6.7251',
    'FEMALE_F25T29_LVPOP_CO': '*',
    'FEMALE_F30T34_LVPOP_CO': '*',
    'FEMALE_F35T39_LVPOP_CO': '*',
    'FEMALE_F40T44_LVPOP_CO': '*',
    'FEMALE_F45T49_LVPOP_CO': '7.8549',
    'FEMALE_F50T54_LVPOP_CO': '*',
    'FEMALE_F55T59_LVPOP_CO': '*',
    'FEMALE_F60T64_LVPOP_CO': '*',
    'FEMALE_F65T69_LVPOP_CO': '*',
    'FEMALE_F70T74_LVPOP_CO': '*',
    'FEMALE_F75T79_LVPOP_CO': '*',
    'LNGTR_STAY_FRGNR_CO': '*'},
   {'STDR_DE_ID': '20220928',
    'TMZON_PD_SE': '00',
    'ADSTRD_CODE_SE': '11110515',
    'LVPOP_SN': '2',
    'MLNG_RESDNC_CODE_SE': '50000',
    'TOT_LVPOP_CO': '35.094799999999999',
    'MALE_F10T14_LVPOP_CO': '*',
    'MALE_F15T19_LVPOP_CO': '*',
    'MALE_F20T24_LVPOP_CO': '*',
    'MALE_F25T29_LVPOP_CO': '*',
    'MALE_F30T34_LVPOP_CO': '*',
    'MALE_F35T39_LVPOP_CO': '*',
    'MALE_F40T44_LVPOP_CO': '*',
    'MALE_F45T49_LVPOP_CO': '*',
    'MALE_F50T54_LVPOP_CO': '*',
    'MALE_F55T59_LVPOP_CO': '*',
    'MALE_F60T64_LVPOP_CO': '5.2122',
    'MALE_F65T69_LVPOP_CO': '*',
    'MALE_F70T74_LVPOP_CO': '*',
    'MALE_F75T79_LVPOP_CO': '*',
    'FEMALE_F10T14_LVPOP_CO': '*',
    'FEMALE_F15T19_LVPOP_CO': '*',
    'FEMALE_F20T24_LVPOP_CO': '*',
    'FEMALE_F25T29_LVPOP_CO': '*',
    'FEMALE_F30T34_LVPOP_CO': '*',
    'FEMALE_F35T39_LVPOP_CO': '4.0084',
    'FEMALE_F40T44_LVPOP_CO': '*',
    'FEMALE_F45T49_LVPOP_CO': '*',
    'FEMALE_F50T54_LVPOP_CO': '*',
    'FEMALE_F55T59_LVPOP_CO': '*',
    'FEMALE_F60T64_LVPOP_CO': '*',
    'FEMALE_F65T69_LVPOP_CO': '*',
    'FEMALE_F70T74_LVPOP_CO': '*',
    'FEMALE_F75T79_LVPOP_CO': '*',
    'LNGTR_STAY_FRGNR_CO': '*'},
   {'STDR_DE_ID': '20220928',
    'TMZON_PD_SE': '00',
    'ADSTRD_CODE_SE': '11110515',
    'LVPOP_SN': '4',
    'MLNG_RESDNC_CODE_SE': '27000',
    'TOT_LVPOP_CO': '26.837499999999999',
    'MALE_F10T14_LVPOP_CO': '*',
    'MALE_F15T19_LVPOP_CO': '18.249',
    'MALE_F20T24_LVPOP_CO': '*',
    'MALE_F25T29_LVPOP_CO': '*',
    'MALE_F30T34_LVPOP_CO': '*',
    'MALE_F35T39_LVPOP_CO': '*',
    'MALE_F40T44_LVPOP_CO': '*',
    'MALE_F45T49_LVPOP_CO': '*',
    'MALE_F50T54_LVPOP_CO': '*',
    'MALE_F55T59_LVPOP_CO': '*',
    'MALE_F60T64_LVPOP_CO': '*',
    'MALE_F65T69_LVPOP_CO': '*',
    'MALE_F70T74_LVPOP_CO': '*',
    'MALE_F75T79_LVPOP_CO': '*',
    'FEMALE_F10T14_LVPOP_CO': '*',
    'FEMALE_F15T19_LVPOP_CO': '*',
    'FEMALE_F20T24_LVPOP_CO': '*',
    'FEMALE_F25T29_LVPOP_CO': '5.1869',
    'FEMALE_F30T34_LVPOP_CO': '*',
    'FEMALE_F35T39_LVPOP_CO': '*',
    'FEMALE_F40T44_LVPOP_CO': '*',
    'FEMALE_F45T49_LVPOP_CO': '*',
    'FEMALE_F50T54_LVPOP_CO': '*',
    'FEMALE_F55T59_LVPOP_CO': '*',
    'FEMALE_F60T64_LVPOP_CO': '*',
    'FEMALE_F65T69_LVPOP_CO': '*',
    'FEMALE_F70T74_LVPOP_CO': '*',
    'FEMALE_F75T79_LVPOP_CO': '*',
    'LNGTR_STAY_FRGNR_CO': '*'},
   {'STDR_DE_ID': '20220928',
    'TMZON_PD_SE': '00',
    'ADSTRD_CODE_SE': '11110515',
    'LVPOP_SN': '8',
    'MLNG_RESDNC_CODE_SE': '41360',
    'TOT_LVPOP_CO': '15.7409',
    'MALE_F10T14_LVPOP_CO': '*',
    'MALE_F15T19_LVPOP_CO': '*',
    'MALE_F20T24_LVPOP_CO': '*',
    'MALE_F25T29_LVPOP_CO': '*',
    'MALE_F30T34_LVPOP_CO': '*',
    'MALE_F35T39_LVPOP_CO': '*',
    'MALE_F40T44_LVPOP_CO': '*',
    'MALE_F45T49_LVPOP_CO': '*',
    'MALE_F50T54_LVPOP_CO': '*',
    'MALE_F55T59_LVPOP_CO': '*',
    'MALE_F60T64_LVPOP_CO': '*',
    'MALE_F65T69_LVPOP_CO': '*',
    'MALE_F70T74_LVPOP_CO': '*',
    'MALE_F75T79_LVPOP_CO': '*',
    'FEMALE_F10T14_LVPOP_CO': '*',
    'FEMALE_F15T19_LVPOP_CO': '*',
    'FEMALE_F20T24_LVPOP_CO': '*',
    'FEMALE_F25T29_LVPOP_CO': '*',
    'FEMALE_F30T34_LVPOP_CO': '*',
    'FEMALE_F35T39_LVPOP_CO': '*',
    'FEMALE_F40T44_LVPOP_CO': '*',
    'FEMALE_F45T49_LVPOP_CO': '*',
    'FEMALE_F50T54_LVPOP_CO': '*',
    'FEMALE_F55T59_LVPOP_CO': '*',
    'FEMALE_F60T64_LVPOP_CO': '*',
    'FEMALE_F65T69_LVPOP_CO': '*',
    'FEMALE_F70T74_LVPOP_CO': '*',
    'FEMALE_F75T79_LVPOP_CO': '*',
    'LNGTR_STAY_FRGNR_CO': '*'},
   {'STDR_DE_ID': '20220928',
    'TMZON_PD_SE': '00',
    'ADSTRD_CODE_SE': '11110515',
    'LVPOP_SN': '16',
    'MLNG_RESDNC_CODE_SE': '41281',
    'TOT_LVPOP_CO': '9.6829000000000001',
    'MALE_F10T14_LVPOP_CO': '*',
    'MALE_F15T19_LVPOP_CO': '*',
    'MALE_F20T24_LVPOP_CO': '*',
    'MALE_F25T29_LVPOP_CO': '*',
    'MALE_F30T34_LVPOP_CO': '*',
    'MALE_F35T39_LVPOP_CO': '*',
    'MALE_F40T44_LVPOP_CO': '*',
    'MALE_F45T49_LVPOP_CO': '*',
    'MALE_F50T54_LVPOP_CO': '*',
    'MALE_F55T59_LVPOP_CO': '*',
    'MALE_F60T64_LVPOP_CO': '*',
    'MALE_F65T69_LVPOP_CO': '*',
    'MALE_F70T74_LVPOP_CO': '*',
    'MALE_F75T79_LVPOP_CO': '*',
    'FEMALE_F10T14_LVPOP_CO': '*',
    'FEMALE_F15T19_LVPOP_CO': '*',
    'FEMALE_F20T24_LVPOP_CO': '*',
    'FEMALE_F25T29_LVPOP_CO': '*',
    'FEMALE_F30T34_LVPOP_CO': '*',
    'FEMALE_F35T39_LVPOP_CO': '*',
    'FEMALE_F40T44_LVPOP_CO': '*',
    'FEMALE_F45T49_LVPOP_CO': '*',
    'FEMALE_F50T54_LVPOP_CO': '*',
    'FEMALE_F55T59_LVPOP_CO': '*',
    'FEMALE_F60T64_LVPOP_CO': '*',
    'FEMALE_F65T69_LVPOP_CO': '*',
    'FEMALE_F70T74_LVPOP_CO': '*',
    'FEMALE_F75T79_LVPOP_CO': '*',
    'LNGTR_STAY_FRGNR_CO': '*'}]}}

In [14]:
outer_pop=pd.DataFrame(data['ppsOrgnCt']['row'])
outer_pop

,STDR_DE_ID,TMZON_PD_SE,ADSTRD_CODE_SE,LVPOP_SN,MLNG_RESDNC_CODE_SE,TOT_LVPOP_CO,MALE_F10T14_LVPOP_CO,MALE_F15T19_LVPOP_CO,MALE_F20T24_LVPOP_CO,MALE_F25T29_LVPOP_CO,...,FEMALE_F35T39_LVPOP_CO,FEMALE_F40T44_LVPOP_CO,FEMALE_F45T49_LVPOP_CO,FEMALE_F50T54_LVPOP_CO,FEMALE_F55T59_LVPOP_CO,FEMALE_F60T64_LVPOP_CO,FEMALE_F65T69_LVPOP_CO,FEMALE_F70T74_LVPOP_CO,FEMALE_F75T79_LVPOP_CO,LNGTR_STAY_FRGNR_CO
0,20220928,00,11110515,1,44000,37.449100000000001,*,*,7.238,*,...,*,*,7.8549,*,*,*,*,*,*,*
1,20220928,00,11110515,2,50000,35.094799999999999,*,*,*,*,...,4.0084,*,*,*,*,*,*,*,*,*
2,20220928,00,11110515,4,27000,26.837499999999999,*,18.249,*,*,...,*,*,*,*,*,*,*,*,*,*
3,20220928,00,11110515,8,41360,15.7409,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
4,20220928,00,11110515,16,41281,9.6829000000000001,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*

## 2021년 데이터

In [21]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202101/"
resp=requests.get(endpoint)
data=resp.json()
s2101=pd.DataFrame(data['CardSubwayTime']['row'])
s2101.shape

(604, 52)

In [22]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202102/"
resp=requests.get(endpoint)
data=resp.json()
s2102=pd.DataFrame(data['CardSubwayTime']['row'])
s2102.shape

(605, 52)

In [23]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202103/"
resp=requests.get(endpoint)
data=resp.json()
s2103=pd.DataFrame(data['CardSubwayTime']['row'])
s2103.shape

(606, 52)

In [24]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202104/"
resp=requests.get(endpoint)
data=resp.json()
s2104=pd.DataFrame(data['CardSubwayTime']['row'])
s2104.shape

(608, 52)

In [25]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202105/"
resp=requests.get(endpoint)
data=resp.json()
s2105=pd.DataFrame(data['CardSubwayTime']['row'])
s2105.shape

(608, 52)

In [26]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202106/"
resp=requests.get(endpoint)
data=resp.json()
s2106=pd.DataFrame(data['CardSubwayTime']['row'])
s2106.shape

(608, 52)

In [27]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202107/"
resp=requests.get(endpoint)
data=resp.json()
s2107=pd.DataFrame(data['CardSubwayTime']['row'])
s2107.shape

(607, 52)

In [28]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202108/"
resp=requests.get(endpoint)
data=resp.json()
s2108=pd.DataFrame(data['CardSubwayTime']['row'])
s2108.shape

(607, 52)

In [29]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202109/"
resp=requests.get(endpoint)
data=resp.json()
s2109=pd.DataFrame(data['CardSubwayTime']['row'])
s2109.shape

(607, 52)

In [30]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202110/"
resp=requests.get(endpoint)
data=resp.json()
s2110=pd.DataFrame(data['CardSubwayTime']['row'])
s2110.shape

(609, 52)

In [31]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202111/"
resp=requests.get(endpoint)
data=resp.json()
s2111=pd.DataFrame(data['CardSubwayTime']['row'])
s2111.shape

(609, 52)

In [32]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202112/"
resp=requests.get(endpoint)
data=resp.json()
s2112=pd.DataFrame(data['CardSubwayTime']['row'])
s2112.shape

(609, 52)

## 2020년 데이터

In [33]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202001/"
resp=requests.get(endpoint)
data=resp.json()
s2001=pd.DataFrame(data['CardSubwayTime']['row'])
s2001.shape

(597, 52)

In [34]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202002/"
resp=requests.get(endpoint)
data=resp.json()
s2002=pd.DataFrame(data['CardSubwayTime']['row'])
s2002.shape

(597, 52)

In [35]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202003/"
resp=requests.get(endpoint)
data=resp.json()
s2003=pd.DataFrame(data['CardSubwayTime']['row'])
s2003.shape

(597, 52)

In [36]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202004/"
resp=requests.get(endpoint)
data=resp.json()
s2004=pd.DataFrame(data['CardSubwayTime']['row'])
s2004.shape

(599, 52)

In [37]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202005/"
resp=requests.get(endpoint)
data=resp.json()
s2005=pd.DataFrame(data['CardSubwayTime']['row'])
s2005.shape

(597, 52)

In [38]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202006/"
resp=requests.get(endpoint)
data=resp.json()
s2006=pd.DataFrame(data['CardSubwayTime']['row'])
s2006.shape

(600, 52)

In [39]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202007/"
resp=requests.get(endpoint)
data=resp.json()
s2007=pd.DataFrame(data['CardSubwayTime']['row'])
s2007.shape

(598, 52)

In [40]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202008/"
resp=requests.get(endpoint)
data=resp.json()
s2008=pd.DataFrame(data['CardSubwayTime']['row'])
s2008.shape

(597, 52)

In [41]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202009/"
resp=requests.get(endpoint)
data=resp.json()
s2009=pd.DataFrame(data['CardSubwayTime']['row'])
s2009.shape

(603, 52)

In [42]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202010/"
resp=requests.get(endpoint)
data=resp.json()
s2010=pd.DataFrame(data['CardSubwayTime']['row'])
s2010.shape

(605, 52)

In [43]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202011/"
resp=requests.get(endpoint)
data=resp.json()
s2011=pd.DataFrame(data['CardSubwayTime']['row'])
s2011.shape

(603, 52)

In [44]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202012/"
resp=requests.get(endpoint)
data=resp.json()
s2012=pd.DataFrame(data['CardSubwayTime']['row'])
s2012.shape

(603, 52)

## 2019년 데이터

In [45]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201901/"
resp=requests.get(endpoint)
data=resp.json()
s1901=pd.DataFrame(data['CardSubwayTime']['row'])
s1901.shape

(598, 52)

In [46]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201902/"
resp=requests.get(endpoint)
data=resp.json()
s1902=pd.DataFrame(data['CardSubwayTime']['row'])
s1902.shape

(598, 52)

In [47]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201903/"
resp=requests.get(endpoint)
data=resp.json()
s1903=pd.DataFrame(data['CardSubwayTime']['row'])
s1903.shape

(598, 52)

In [48]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201904/"
resp=requests.get(endpoint)
data=resp.json()
s1904=pd.DataFrame(data['CardSubwayTime']['row'])
s1904.shape

(600, 52)

In [49]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201905/"
resp=requests.get(endpoint)
data=resp.json()
s1905=pd.DataFrame(data['CardSubwayTime']['row'])
s1905.shape

(597, 52)

In [50]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201906/"
resp=requests.get(endpoint)
data=resp.json()
s1906=pd.DataFrame(data['CardSubwayTime']['row'])
s1906.shape

(596, 52)

In [51]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201907/"
resp=requests.get(endpoint)
data=resp.json()
s1907=pd.DataFrame(data['CardSubwayTime']['row'])
s1907.shape

(597, 52)

In [52]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201908/"
resp=requests.get(endpoint)
data=resp.json()
s1908=pd.DataFrame(data['CardSubwayTime']['row'])
s1908.shape

(598, 52)

In [53]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201909/"
resp=requests.get(endpoint)
data=resp.json()
s1909=pd.DataFrame(data['CardSubwayTime']['row'])
s1909.shape

(597, 52)

In [54]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201910/"
resp=requests.get(endpoint)
data=resp.json()
s1910=pd.DataFrame(data['CardSubwayTime']['row'])
s1910.shape

(598, 52)

In [55]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201911/"
resp=requests.get(endpoint)
data=resp.json()
s1911=pd.DataFrame(data['CardSubwayTime']['row'])
s1911.shape

(597, 52)

In [56]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201912/"
resp=requests.get(endpoint)
data=resp.json()
s1912=pd.DataFrame(data['CardSubwayTime']['row'])
s1912.shape

(597, 52)

## 데이터 합치기

In [58]:
subway=pd.concat([s1901,s1902,s1903,s1904,s1905,s1906,s1907,s1908,s1909,
           s1910,s1911,s1912,s2001,s2002,s2003,s2004,s2005,s2006,s2007,s2008,s2009,s2010,s2011,s2012,s2101,s2102,s2103,s2104,s2105,s2106,s2107,s2108,s2109,s2110,s2111,s2112])

In [59]:
subway.shape

(21654, 52)

### 데이터 설명
- USE_MON: 사용월
- LINE_NUM: 호선명
- SUB_STA_NM: 지하철역
- num_ride_NUM: 시간별 승차인원
    - ex) FOUR_RIDE_NUM: 04-05시 승차인원
- num_ALIGHT_NUM: 시간별 하차인원
    - ex) FOUR_ALIGHT_NUM: 04-05시 하차인원
- WORK_DT: 작업일자

In [61]:
subway.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21654 entries, 0 to 608
Data columns (total 52 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   USE_MON                  21654 non-null  object
 1   LINE_NUM                 21654 non-null  object
 2   SUB_STA_NM               21654 non-null  object
 3   FOUR_RIDE_NUM            21654 non-null  float64
 4   FOUR_ALIGHT_NUM          21654 non-null  float64
 5   FIVE_RIDE_NUM            21654 non-null  float64
 6   FIVE_ALIGHT_NUM          21654 non-null  float64
 7   SIX_RIDE_NUM             21654 non-null  float64
 8   SIX_ALIGHT_NUM           21654 non-null  float64
 9   SEVEN_RIDE_NUM           21654 non-null  float64
 10  SEVEN_ALIGHT_NUM         21654 non-null  float64
 11  EIGHT_RIDE_NUM           21654 non-null  float64
 12  EIGHT_ALIGHT_NUM         21654 non-null  float64
 13  NINE_RIDE_NUM            21654 non-null  float64
 14  NINE_ALIGHT_NUM          21654 non-null  float64
 15  TEN_RIDE_NUM             21654 non-null  float64
 16  TEN_ALIGHT_NUM           21654 non-null  float64
 17  ELEVEN_RIDE_NUM          21654 non-null  float64
 18  ELEVEN_ALIGHT_NUM        21654 non-null  float64
 19  TWELVE_RIDE_NUM          21654 non-null  float64
 20  TWELVE_ALIGHT_NUM        21654 non-null  float64
 21  THIRTEEN_RIDE_NUM        21654 non-null  float64
 22  THIRTEEN_ALIGHT_NUM      21654 non-null  float64
 23  FOURTEEN_RIDE_NUM        21654 non-null  float64
 24  FOURTEEN_ALIGHT_NUM      21654 non-null  float64
 25  FIFTEEN_RIDE_NUM         21654 non-null  float64
 26  FIFTEEN_ALIGHT_NUM       21654 non-null  float64
 27  SIXTEEN_RIDE_NUM         21654 non-null  float64
 28  SIXTEEN_ALIGHT_NUM       21654 non-null  float64
 29  SEVENTEEN_RIDE_NUM       21654 non-null  float64
 30  SEVENTEEN_ALIGHT_NUM     21654 non-null  float64
 31  EIGHTEEN_RIDE_NUM        21654 non-null  float64
 32  EIGHTEEN_ALIGHT_NUM      21654 non-null  float64
 33  NINETEEN_RIDE_NUM        21654 non-null  float64
 34  NINETEEN_ALIGHT_NUM      21654 non-null  float64
 35  TWENTY_RIDE_NUM          21654 non-null  float64
 36  TWENTY_ALIGHT_NUM        21654 non-null  float64
 37  TWENTY_ONE_RIDE_NUM      21654 non-null  float64
 38  TWENTY_ONE_ALIGHT_NUM    21654 non-null  float64
 39  TWENTY_TWO_RIDE_NUM      21654 non-null  float64
 40  TWENTY_TWO_ALIGHT_NUM    21654 non-null  float64
 41  TWENTY_THREE_RIDE_NUM    21654 non-null  float64
 42  TWENTY_THREE_ALIGHT_NUM  21654 non-null  float64
 43  MIDNIGHT_RIDE_NUM        21654 non-null  float64
 44  MIDNIGHT_ALIGHT_NUM      21654 non-null  float64
 45  ONE_RIDE_NUM             21654 non-null  float64
 46  ONE_ALIGHT_NUM           21654 non-null  float64
 47  TWO_RIDE_NUM             21654 non-null  float64
 48  TWO_ALIGHT_NUM           21654 non-null  float64
 49  THREE_RIDE_NUM           21654 non-null  float64
 50  THREE_ALIGHT_NUM         21654 non-null  float64
 51  WORK_DT                  21654 non-null  object
dtypes: float64(48), object(4)
memory usage: 8.8+ MB