# 서울시 생활인구
## 서울 생활인구 현황 (2022.09.28. 기준)
### url: https://data.seoul.go.kr/dataVisual/seoul/seoulLivingPopulation.do

1. 집계구 단위 서울 생활인구(내국인)
    - url: https://data.seoul.go.kr/dataList/OA-14979/F/1/datasetView.do
    - 설명: 서울시가 보유한 공공데이터와 통신데이터로 측정한 특정시점에 서울의 특정 지역에 존재하는 인구 중 내국인

<!-- <br> -->


2. 집계구 단위 서울 생활인구(장기체류 외국인)
    - url: https://data.seoul.go.kr/dataList/OA-14978/F/1/datasetView.do
    - 설명:서울시가 보유한 공공데이터와 통신데이터로 측정한 특정시점에 서울의 특정 지역에 존재하는 인구 중 장기체류 외국인

<!-- <br> -->


3. 집계구 단위 서울 생활인구(단기체류 외국인)
    - url: https://data.seoul.go.kr/dataList/OA-14980/F/1/datasetView.do
    - 설명:서울시가 보유한 공공데이터와 통신데이터로 측정한 특정시점에 서울의 특정 지역에 존재하는 인구 중 단기체류 외국인

<!-- <br> -->



※ 개인정보 비 식별화를 위하여 ‘3명’ 이하인 경우 “ * ” 처리

In [1]:
import os
import glob
import pandas as pd
import numpy as np

In [2]:
from tqdm.auto import tqdm, trange
from time import sleep

## 1. 집계구 단위 서울 생활인구(내국인)
    - a)2022년 01월~08월
    - b)2019년, 2020년, 2021년
    - 2019년 10월 15-27일 데이터 없음
## 2. 집계구 단위 서울 생활인구(장기체류 외국인)
    - a)2022년 01월~08월
    - b)2019년, 2020년, 2021년
## 3. 집계구 단위 서울 생활인구(단기체류 외국인)
    - a)2022년 01월~08월
    - b)2019년, 2020년, 2021년

In [3]:
# 폴더 안 파일명 리스트 가져오기
local_people_2019_list = []
local_people_2020_list = []
local_people_2021_list = []

long_foreigner_list = []
temp_foreinger_list= []
pbar = tqdm(os.listdir(r"./data/집계동 단위 서울 생활인구/local_people/2019"))
for file in pbar:
    if file.endswith(".csv"):
        pbar.set_description(file)
        local_people_2019_list.append(file)
        
pbar = tqdm(os.listdir(r"./data/집계동 단위 서울 생활인구/local_people/2020"))
for file in pbar:
    if file.endswith(".csv"):
        pbar.set_description(file)
        local_people_2020_list.append(file)
        
pbar = tqdm(os.listdir(r"./data/집계동 단위 서울 생활인구/local_people/2021"))
for file in pbar:
    if file.endswith(".csv"):
        pbar.set_description(file)
        local_people_2021_list.append(file)

pbar = tqdm(os.listdir(r"./data/집계동 단위 서울 생활인구/long_foreigner/"))
for file in pbar:
    if file.endswith(".csv"):
        pbar.set_description(file)
        long_foreigner_list.append(file)
 
pbar = tqdm(os.listdir(r"./data/집계동 단위 서울 생활인구/temp_foreigner/"))
for file in pbar:
    if file.endswith(".csv"):
        pbar.set_description(file)
        temp_foreinger_list.append(file)

local_people_2019_list.sort()
local_people_2020_list.sort()
local_people_2021_list.sort()
long_foreigner_list.sort()
temp_foreinger_list.sort()

print("local_people_2019_list >>", len(local_people_2019_list))
print("local_people_2020_list >>", len(local_people_2020_list))
print("local_people_2021_list >>", len(local_people_2021_list))

print("long_foreigner_list >>", long_foreigner_list)
print("temp_foreinger_list >>", temp_foreinger_list)

  0%|          | 0/352 [00:00<?, ?it/s]

  0%|          | 0/366 [00:00<?, ?it/s]

  0%|          | 0/365 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]

local_people_2019_list >> 351
local_people_2020_list >> 366
local_people_2021_list >> 365
long_foreigner_list >> ['LONG_FOREIGNER_20220924.csv']
temp_foreinger_list >> ['TEMP_FOREIGNER_20220924.csv']

In [4]:
def data_process(file_list, path):
    df_sum_per_day_list = []
    problem_list = []
    pbar = tqdm(file_list)
    for file in pbar:
        pbar.set_description(file) # pbar description에 작업중인 파일명 업데이트
        try:df_temp = pd.read_csv(path + file, encoding="utf-8", na_values="*")
        except: 
            # df_temp = pd.read_csv(path + file, encoding="euc-kr", na_values="*")
            print("encoding문제 파일 >>", file)
            problem_list.append(file)
            continue
        df_temp.rename(columns={'?"기준일ID"' : '기준일ID'})
        #결측값 0으로 대체
        df_temp.fillna(0, inplace=True)         
        df_temp = create_dates(df_temp)
        df_sum_per_day = combine_ages(df_temp)
        df_sum_per_day_list.append(df_sum_per_day)
    df_concat = pd.concat(df_sum_per_day_list)
    return df_concat

In [5]:
# 기준일ID 컬럼을 date형식으로 변환
# 년, 월 컬럼 생성
def create_dates(df_temp):
    df_temp.insert(0, '날짜', pd.to_datetime(df_temp['기준일ID'], format='%Y%m%d'))
    df_temp.insert(1, '년', df_temp['날짜'].dt.year)
    df_temp.insert(2, '월', df_temp['날짜'].dt.month)

    # 주말 여부 컬럼 생성
    df_temp.insert(3, "주말", df_temp['날짜'].dt.dayofweek > 4)

    # 기준일ID컬럼 drop
    df_temp.drop(columns=['기준일ID', '시간대구분'], inplace=True)
    return df_temp

In [33]:
def combine_ages(df_temp):
    cols = [
    '남자0세부터9세생활인구수', '여자0세부터9세생활인구수', 
    '남자10세부터14세생활인구수', '남자15세부터19세생활인구수', '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', 
    '남자20세부터24세생활인구수', '남자25세부터29세생활인구수', '여자20세부터24세생활인구수', '여자25세부터29세생활인구수',
    '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수', 
    '남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', 
    '남자50세부터54세생활인구수', '남자55세부터59세생활인구수', '여자50세부터54세생활인구수', '여자55세부터59세생활인구수', 
    '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', 
    '남자70세이상생활인구수', '여자70세이상생활인구수'
    ]
    df_temp['10세 이하'] = df_temp.남자0세부터9세생활인구수 + df_temp.여자0세부터9세생활인구수
    df_temp['10대'] = df_temp.남자10세부터14세생활인구수 + df_temp.남자15세부터19세생활인구수 + df_temp.여자10세부터14세생활인구수 + df_temp.여자15세부터19세생활인구수
    df_temp['20대'] = df_temp.남자20세부터24세생활인구수 + df_temp.남자25세부터29세생활인구수 + df_temp.여자20세부터24세생활인구수 + df_temp.여자25세부터29세생활인구수
    df_temp['30대'] = df_temp.남자30세부터34세생활인구수 + df_temp.남자35세부터39세생활인구수 + df_temp.여자30세부터34세생활인구수 + df_temp.여자35세부터39세생활인구수
    df_temp['40대'] = df_temp.남자40세부터44세생활인구수 + df_temp.남자45세부터49세생활인구수 + df_temp.여자40세부터44세생활인구수 + df_temp.여자45세부터49세생활인구수
    df_temp['50대'] = df_temp.남자50세부터54세생활인구수 + df_temp.남자55세부터59세생활인구수 + df_temp.여자50세부터54세생활인구수 + df_temp.여자55세부터59세생활인구수
    df_temp['60대'] = df_temp.남자60세부터64세생활인구수 + df_temp.남자65세부터69세생활인구수 + df_temp.여자60세부터64세생활인구수 + df_temp.여자65세부터69세생활인구수
    df_temp['70세 이상'] = df_temp.남자70세이상생활인구수 + df_temp.여자70세이상생활인구수
    df_temp.drop(columns=cols, inplace=True)
    df_sum_per_day = df_temp.groupby(['날짜', '년', '월', '주말', '행정동코드', '집계구코드']).sum()
    return df_sum_per_day

In [34]:
# #define how to aggregate various fields
# agg_functions = {'년':'first', '월':'first', '주말':'first', '행정동코드': 'first', '집계구코드':'first', '10세 이하': 'sum', '10대': 'sum', '20대': 'sum', '30대': 'sum', '40대': 'sum', '50대': 'sum', '60대': 'sum', '70세 이상': 'sum', '총생활인구수': 'sum'}

# #create new DataFrame by combining rows with same id values
# df_new = df_temp.groupby(df_temp['날짜']).aggregate(agg_functions)
# df_new

In [35]:
local_people_2019_df = data_process(local_people_2019_list, "./data/집계동 단위 서울 생활인구/local_people/2019/")

  0%|          | 0/351 [00:00<?, ?it/s]

encoding문제 파일 >> LOCAL_PEOPLE_20190902.csv
encoding문제 파일 >> LOCAL_PEOPLE_20190903.csv
encoding문제 파일 >> LOCAL_PEOPLE_20191030.csv

In [ ]:
def monthly_average

In [72]:
print(local_people_2019_df.info())

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6722699 entries, (Timestamp('2019-01-01 00:00:00'), 2019, 1, False, 11110515, 1101072010001) to (Timestamp('2019-12-31 00:00:00'), 2019, 12, False, 11740700, 1125071023701)
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   총생활인구수  float64
 1   10세 이하  float64
 2   10대     float64
 3   20대     float64
 4   30대     float64
 5   40대     float64
 6   50대     float64
 7   60대     float64
 8   70세 이상  float64
dtypes: float64(9)
memory usage: 520.0 MB
None

In [37]:
local_people_2019_df.drop(columns=['Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36','Unnamed: 37'], inplace=True)

In [38]:
local_people_2019_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6722699 entries, (Timestamp('2019-01-01 00:00:00'), 2019, 1, False, 11110515, 1101072010001) to (Timestamp('2019-12-31 00:00:00'), 2019, 12, False, 11740700, 1125071023701)
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   총생활인구수  float64
 1   10세 이하  float64
 2   10대     float64
 3   20대     float64
 4   30대     float64
 5   40대     float64
 6   50대     float64
 7   60대     float64
 8   70세 이상  float64
dtypes: float64(9)
memory usage: 520.0 MB

In [39]:
local_people_2019_df.shape

(6722699, 9)

In [75]:
local_people_2019_df_month = local_people_2019_df.groupby(['년', '월', '주말', '행정동코드', '집계구코드']).mean()

In [78]:
local_people_2019_df_month

                                            총생활인구수       10세 이하          10대  \
년    월  주말    행정동코드    집계구코드
2019 1  False 11110515 1101072010001   7263.086957   509.826087   638.956522
                       1101072010002  17644.826087   931.565217  1494.478261
                       1101072010003   6829.304348   455.260870   639.434783
                       1101072010004   6611.000000   488.739130   587.652174
                       1101072010005   5836.652174   422.391304   543.739130
...                                            ...          ...          ...
     12 True  11740700 1125071022201  13529.555556   883.777778  1273.333333
                       1125071022202   3811.222222   207.444444   259.888889
                       1125071022501  17967.555556  1148.888889  1325.777778
                       1125071022701   4231.222222   376.000000   400.888889
                       1125071023701  10927.000000   721.444444  1035.222222

                                              20대          30대          40대  \
년    월  주말    행정동코드    집계구코드
2019 1  False 11110515 1101072010001  1075.521739  1074.826087  1282.086957
                       1101072010002  2579.217391  2820.347826  3162.130435
                       1101072010003   881.695652   974.739130  1207.304348
                       1101072010004   961.956522   929.478261  1052.217391
                       1101072010005   767.000000   814.608696  1059.086957
...                                           ...          ...          ...
     12 True  11740700 1125071022201  1520.111111  1973.777778  2294.222222
                       1125071022202   345.111111   484.777778   573.666667
                       1125071022501  1712.555556  2414.111111  2802.444444
                       1125071022701   316.111111   426.888889   488.333333
                       1125071023701  1249.333333  1639.888889  1894.444444

                                              50대          60대       70세 이상
년    월  주말    행정동코드    집계구코드
2019 1  False 11110515 1101072010001   965.869565   491.130435   757.608696
                       1101072010002  2357.130435  1726.869565  2247.173913
                       1101072010003   934.043478   552.304348   709.347826
                       1101072010004   837.086957   554.695652   704.043478
                       1101072010005   769.782609   322.478261   577.391304
...                                           ...          ...          ...
     12 True  11740700 1125071022201  1936.888889  1602.222222  1576.111111
                       1125071022202   445.555556   341.222222   383.000000
                       1125071022501  2726.333333  2643.000000  2768.888889
                       1125071022701   613.333333   471.444444   449.222222
                       1125071023701  1543.333333  1235.888889  1216.444444

[459672 rows x 9 columns]

In [83]:
local_people_2019_df_month[]

SyntaxError: invalid syntax (4099536750.py, line 1)

In [87]:
local_people_2019_df_month.loc[(2019, 1, False, 11110515)]

,총생활인구수,10세 이하,10대,20대,30대,40대,50대,60대,70세 이상
집계구코드,,,,,,,,,
1101072010001,7263.086957,509.826087,638.956522,1075.521739,1074.826087,1282.086957,965.869565,491.130435,757.608696
1101072010002,17644.826087,931.565217,1494.478261,2579.217391,2820.347826,3162.130435,2357.130435,1726.869565,2247.173913
1101072010003,6829.304348,455.260870,639.434783,881.695652,974.739130,1207.304348,934.043478,552.304348,709.347826
1101072010004,6611.000000,488.739130,587.652174,961.956522,929.478261,1052.217391,837.086957,554.695652,704.043478
1101072010005,5836.652174,422.391304,543.739130,767.000000,814.608696,1059.086957,769.782609,322.478261,577.391304
1101072010006,3255.086957,195.956522,168.782609,190.565217,354.391304,549.434783,271.565217,194.782609,383.739130
1101072010007,5247.304348,391.695652,442.956522,618.347826,695.391304,892.217391,614.000000,425.782609,593.956522
1101072010008,10947.043478,841.043478,1097.521739,1652.608696,1721.652174,2050.043478,1459.130435,677.869565,1056.086957
1101072010009,48973.782609,2020.217391,3423.521739,8256.869565,8716.869565,9050.739130,6793.130435,4565.391304,5823.956522
1101072010010,11861.173913,912.739130,1223.913043,1787.173913,1873.391304,2211.695652,1586.000000,784.347826,1134.826087
1101072010011,4678.739130,335.782609,345.956522,465.173913,606.130435,828.565217,494.304348,350.565217,545.260870
1101072010012,5826.043478,435.869565,500.782609,525.478261,790.260870,1103.913043,646.521739,544.000000,725.173913
1101072010013,7702.391304,589.434783,734.086957,1122.260870,1077.173913,1276.130435,1008.086957,605.913043,775.173913
1101072010014,18136.304348,859.391304,1301.000000,3004.391304,3096.478261,3308.391304,2503.695652,1639.391304,2095.869565
1101072010015,17722.347826,1281.869565,1828.217391,2344.130435,2646.652174,3241.826087,2170.391304,1749.608696,2133.391304
1101072010016,5212.086957,284.608696,289.130435,612.739130,646.956522,873.043478,649.347826,500.521739,681.086957
1101072010017,9382.130435,738.304348,967.260870,1068.434783,1336.434783,1848.652174,1050.391304,865.260870,1042.739130
1101072010018,6327.391304,473.391304,564.217391,622.347826,836.478261,1215.000000,643.260870,521.826087,711.608696
1101072010019,7901.478261,607.347826,768.391304,854.608696,1096.347826,1549.086957,849.608696,691.869565,871.000000
1101072010020,8204.260870,615.130435,804.130435,952.347826,1175.739130,1594.173913,921.652174,735.695652,927.043478
1101072010101,2189.260870,129.304348,123.000000,210.391304,177.173913,221.434783,175.217391,86.956522,174.304348
1101072020001,25849.565217,838.260870,1405.695652,4646.260870,5008.000000,5064.391304,3595.130435,2235.869565,2721.608696
1101072020002,52919.956522,1699.913043,2724.913043,8664.739130,11175.434783,11700.869565,8028.347826,4216.304348,4383.913043
1101072020003,70678.173913,4463.173913,6770.652174,8234.043478,8910.782609,12502.521739,10875.391304,7723.521739,10874.391304
1101072020004,7795.434783,332.391304,535.782609,1305.347826,1247.913043,1366.521739,1134.173913,506.260870,800.782609
1101072020005,18394.130435,1241.521739,1822.869565,2356.173913,2218.478261,2863.130435,2800.478261,2048.826087,2696.086957

In [88]:
local_people_2019_df_month.loc[(2019, 1, True, 11110515)]

,총생활인구수,10세 이하,10대,20대,30대,40대,50대,60대,70세 이상
집계구코드,,,,,,,,,
1101072010001,6807.750,455.750,591.625,1003.875,935.000,1144.625,908.125,460.750,808.500
1101072010002,17123.750,875.250,1390.000,2828.625,2655.750,3060.250,2291.250,1626.500,2073.250
1101072010003,6124.375,364.750,455.500,852.875,794.875,1076.250,898.875,499.375,660.750
1101072010004,8370.000,588.125,756.625,1161.250,1166.625,1372.000,1044.750,732.750,1014.125
1101072010005,5853.000,388.750,469.375,803.750,804.750,1047.500,815.250,345.375,657.875
1101072010006,3160.750,187.250,178.500,189.250,365.000,600.500,267.375,205.500,345.625
1101072010007,6410.875,469.250,552.875,724.250,876.875,1211.750,744.250,592.625,797.625
1101072010008,8507.250,610.750,768.875,1227.125,1206.000,1531.125,1184.875,527.875,986.375
1101072010009,48116.125,1995.875,3460.375,8955.000,7842.250,8278.875,6380.500,4700.500,6176.375
1101072010010,9095.250,645.000,831.750,1347.000,1306.625,1631.125,1278.125,617.000,1055.500
1101072010011,4767.250,322.000,348.250,440.875,615.875,906.625,499.750,364.750,573.625
1101072010012,6748.750,487.625,529.625,619.750,945.750,1457.500,735.000,659.750,833.250
1101072010013,11222.750,732.375,1042.250,1659.500,1547.500,1855.625,1592.500,1005.750,1310.625
1101072010014,17313.875,829.250,1336.500,3099.125,2693.375,2949.250,2332.875,1608.750,2137.000
1101072010015,18361.000,1214.500,1664.500,2531.250,2810.250,3641.375,2345.250,1753.125,2076.625
1101072010016,5866.375,309.875,326.875,687.875,695.000,1066.625,814.875,617.875,743.875
1101072010017,10285.125,739.875,929.375,1146.500,1532.500,2197.125,1230.875,930.750,1115.125
1101072010018,6229.625,430.375,528.500,631.375,880.875,1302.500,711.875,541.375,674.000
1101072010019,7999.250,554.250,713.500,858.625,1162.625,1687.250,941.000,714.750,860.875
1101072010020,8526.625,573.000,733.750,957.250,1237.750,1764.375,1004.375,747.375,930.375
1101072010101,2313.875,140.750,149.750,257.625,223.250,278.375,213.500,99.500,248.875
1101072020001,19552.750,784.875,1330.250,3902.250,3187.875,3326.250,2506.125,1814.250,2371.500
1101072020002,50896.375,2502.375,3574.500,9275.375,8210.875,9318.875,7323.625,4597.125,5772.125
1101072020003,68922.625,4237.000,6223.250,8169.750,8081.500,12260.125,10858.625,7924.000,10843.250
1101072020004,8292.750,376.500,641.375,1402.250,1196.625,1373.500,1261.125,618.750,904.875
1101072020005,16830.750,1061.375,1507.625,2135.750,2061.875,2666.875,2675.625,1923.750,2449.875

In [9]:
# local_people_2019_df = concat_files(local_people_2019_list, "./data/집계동 단위 서울 생활인구/local_people/2019/")
# local_people_2020_df = concat_files(local_people_2020_list, "./data/집계동 단위 서울 생활인구/local_people/2020/")
# local_people_2021_df = concat_files(local_people_2021_list, "./data/집계동 단위 서울 생활인구/local_people/2021/")


# long_foreigner_df = concat_files(long_foreigner_list, "./data/집계동 단위 서울 생활인구/long_foreigner/")
# temp_foreinger_df = concat_files(temp_foreinger_list, "./data/집계동 단위 서울 생활인구/temp_foreigner/")
# print("local_people_df.shape >>", local_people_df.shape)
# print("long_foreigner_df.shape >>", long_foreigner_df.shape)
# print("temp_foreinger_df.shape >>", temp_foreinger_df.shape)

In [10]:
# # 결측값 0으로 대체
# local_people_df.fillna(0, inplace=True)
# local_people_df.info()

In [11]:
# for col in tqdm(cols):
#     if col

In [12]:
# local_people_df['10대 남성'] = local_people_df.남자10세부터14세생활인구수 + local_people_df.남자15세부터19세생활인구수
# local_people_df['20대 남성'] =